@page
@using DemoDeIdentity.Identity.Account;
@model DemoDeIdentity.Identity.Account.RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<link rel="stylesheet" href="~/css/register.css">

<div class="register-container">
    <h1>Create an Account</h1>
    <p>Fill in the details below to register.</p>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="register-form">
        <div class="form-group">
            <label for="Email">Email</label>
            <input asp-for="Register.Email" id="Email" class="form-control" placeholder="Ingresa tu Correo" />
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input asp-for="Register.Password" id="Password" class="form-control" type="password" placeholder="Ingresa tu contraseña" />
        </div>

        <div class="form-group">
            <label for="Password2">Verify Password</label>
            <input asp-for="Register.Password2" id="Password2" class="form-control" type="password" placeholder="Confirma tu contraseña" />
        </div>

        <div class="form-group">
            <label for="Legajo">Nro Legajo</label>
            <input asp-for="Register.Legajo" id="Legajo" class="form-control" placeholder="Ingresa el número de Legajo (ID)" />
        </div>

        <button type="submit" class="register-button">Registrar</button>
    </form>
</div>
